src/main/app/mdxhmaccomponet.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="mdxhmaccomponetFlow">
        <component doc:name="Java">
            <singleton-object class="com.coastcapital.hmac.MDXHMACComponent">
                <property key="hmacSalt" value="#['Test']"/>
            </singleton-object>
        </component>
    </flow>
</mule>
